* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  font-family: 'IBM Plex Serif', serif;
  font-size: 32px;
  line-height: 1.5;
  margin: 0;
  overflow-x: hidden;
}

section {
  flex: 0 0 auto;
  height: 100vh;
  padding: 2rem 4rem 2rem 2rem;
  position: relative;
  width: 100vw;
}

h1 {
  font-size: 5rem;
  line-height: 1.2;
  margin-top: 0;
}

h3 {
  color: #555;
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 0;
}

h4 {
  color: #888;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: normal;
  margin-top: 0;
}

a {
  bottom: 50px;
  position: absolute;
  right: 50px;
  z-index: 1000;
}

img {
  max-height: calc(100vh - 4rem);
  max-width: calc(100vh - 6rem);
}
