* {
  box-sizing: border-box;
}

body {
  color: #222;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  font-family: 'IBM Plex Serif', serif;
  font-size: 32px;
  line-height: 1.5;
  margin: 0;
  overflow-x: hidden;
}

section {
  flex: 0 0 auto;
  height: 100vh;
  padding: 2rem 4rem 2rem 4rem;
  position: relative;
  width: 100vw;
}

h1 {
  font-size: 5rem;
  line-height: 1.2;
  margin-top: 0;
}

h3 {
  color: #555;
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 0;
}

h4 {
  color: #888;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: normal;
  margin-top: 0;
}

a {
  bottom: 50px;
  position: absolute;
  right: 50px;
  z-index: 1000;
}

img {
  max-height: calc(100vh - 4rem);
  max-width: calc(100vh - 6rem);
}

svg {
  vertical-align: middle;
}



.meta {
  padding-left: 124px;
  position: relative;
}

.meta img {
  position: absolute;
  height: 100%;
  left: 0;
}

.kappa {
  opacity: 0;
  animation: fadein .5s 1s forwards;
}

@keyframes fadein {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}





/* ONOFF Style */

#stage {
  bottom: 0;
  margin: 0 0 0 -4rem;
  position: absolute;
  shape-rendering: crispEdges;
  width: 100vw;
}

#guy {
  animation: moving 2.5s infinite linear;
}

#left-foot,
#right-foot {
  animation: walking 0.2s infinite;
}

#right-foot {
  animation-delay: 0.1s;
}

#head {
  animation: walking 0.4s infinite;
  position: relative;
  z-index: 5;
}

@keyframes moving {
  0% {
    transform: translateX(calc(0vw - 52px));
  }
  100% {
    transform: translateX(100vw);
  }
}

@keyframes walking {
  50% {
    transform: translateY(-2px);
  }
}
